<h2>Home of Software Development Optimisation - SDO</h2>
<div class="row">
    <h3>GoF Ideas  coupled with Clean Code</h3>
</div>
<%= link_to 'About', about_path %> |
<%= link_to 'Contact', contact_path %>  